include cms_helpers/helpers.jade
doctype html
html(data-cms-page="#{page.slug}")
   head
      title Steven Harvey
      meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
      link(href="//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css", rel="stylesheet")
      //- Usually would be auth
      if 1==1
         link(href="http://cdn.aloha-editor.org/latest/css/aloha.css", rel="stylesheet", type="text/css")
         link(href="/styles/adminStyle.css", rel="stylesheet")
      link(href="/styles/mainStyle.css", rel="stylesheet")
      link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")
   body
      .navbar.navbar-inverse.navbar-fixed-top
         .navbar-inner
            .container
               button.btn.btn-navbar(type="button", data-toggle="collapse", data-target=".nav-collapse")
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
               a.brand(href="/") Steven Harvey
               .nav-collapse.collapse
                  +cmsMenu(menuItems, page)
      .container
         block content   
      script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
      script(type="text/javascript", src="//netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js")
      script(type="text/javascript", src="/js/socket.io.js")
      script(type="text/javascript", src="/js/sails.io.js")
      script(type="text/javascript", src="/js/app.js")
      //- Usually would be auth
      if 1==1
         script(type="text/javascript", src="http://cdn.aloha-editor.org/latest/lib/require.js")
         script(type="text/javascript", src="http://cdn.aloha-editor.org/latest/lib/vendor/jquery-1.7.2.js")
         script(type="text/javascript", src="http://cdn.aloha-editor.org/latest/lib/aloha.js", data-aloha-plugins="common/ui, common/format, common/list, common/link, common/highlighteditables")
         script(type="text/javascript", src="/js/admin.js")
