extends /layout

block content
   .row
      .span12
         h1 #{page.name}
   .row
      +cmsBlock(12, "content")
   if(page.bot_picture)
      .row
         .span12
            img(class="bot-picture", src="#{page.bot_picture}")
