body{
   padding-top:60px;
}
h1{
   color:#4e5d72;
}
p{
   color:#2e3d52;
}
.navbar-inverse .navbar-inner {
   background:none;
   background-color:#4e5d72;
   border:none;
}
.navbar .nav>li {
   float: left;
   width: 150px;
   text-align:center;
}
.navbar-inverse .nav .active>a, .navbar-inverse .nav .active>a:hover{
   background-color:#2e3d52;
}

.navbar-inverse .brand {
   color: #dddddd;
}

.navbar-inverse .brand:hover{
   color:white;
}
.navbar-inverse .nav>li>a{
   color: #dddddd;
}
.navbar-inverse .nav .active>a{
   background-color:#2e3d52;
}
.navbar-inverse .nav>li>a:hover {
   background-color: transparent;
   color: white;
}
.navbar-inverse .btn-navbar, .navbar-inverse .btn-navbar:hover, .navbar-inverse .btn-navbar:focus, .navbar-inverse .btn-navbar:active, .navbar-inverse .btn-navbar.active{
   background:none;
   background-color:#2e3d52;
}
.bot-picture{
   margin:40px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

/* Responsive styles */
    
/* Largeish screen */
/* UP TO 1200PX (COMPUTER SCREEN) */
@media (max-width:1200px){

}

/* UP TO 979PX (TABLET SCREEN) */
@media (max-width:979px){
   body{
      padding-top:0px;
   }
   .navbar-inverse .nav-collapse .nav>li>a{
      color:#dddddd;
   }
   .navbar-inverse .nav-collapse .nav>li>a:hover{
      background-color:#2e3d52;   
   }
}

/* UP TO 979PX (PHONE SCREEN) */
@media (max-width:767px){
   .navbar .nav>li {
      float: none;
      width:100%;
      text-align:left;
   }
}

/* UP TO 979PX (TOASTER SCREEN) */
@media (max-width:480px){
   
}

